.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (51).webp")no-repeat center center;
    background-size: cover;
}
@media (min-width: 900px) {
    .view {
        overflow:visible;
        margin-top: -56px;
    }
}
.navbar {
    z-index: 1;
}

html,
body,
header,
.view {
  height: 100px;
}

.manual{
    color: #77C3EC;

}
.cont{
    margin-left: 600px;
}

.myclass{
    background-color: #454545;
    color: white;
}